In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A  0.194914  0.007176  0.314263 -0.034731
B  0.847731 -0.478689 -0.994638 -1.946481
C  0.396137 -1.572962 -1.935379  1.684394
D  0.829173 -0.293347  1.534906 -0.685609
E  0.517206  0.416376 -1.285165  0.197266

In [8]:
df['W']

A    0.194914
B    0.847731
C    0.396137
D    0.829173
E    0.517206
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
df[['W','X']]

          W         X
A  0.194914  0.007176
B  0.847731 -0.478689
C  0.396137 -1.572962
D  0.829173 -0.293347
E  0.517206  0.416376

In [11]:
#Creating a new column

In [14]:
df['New'] = df['W'] * 2

In [15]:
df['New']

A    0.389827
B    1.695463
C    0.792275
D    1.658345
E    1.034413
Name: New, dtype: float64

In [21]:
#df

In [17]:
df.drop('New', axis=1, inplace=True)

In [18]:
df

          W         X         Y         Z
A  0.194914  0.007176  0.314263 -0.034731
B  0.847731 -0.478689 -0.994638 -1.946481
C  0.396137 -1.572962 -1.935379  1.684394
D  0.829173 -0.293347  1.534906 -0.685609
E  0.517206  0.416376 -1.285165  0.197266